<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"/>
    <title>Student Management System</title>
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="/script.js"></script>
    <link href="/customform.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Student Management System</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a th:href="@{/}">Logout</a></li>
        </ul>
    </div>
</nav>

<h4 th:if="${showErrorMessage}" th:text="${errorMessage}"></h4>
<div class="register-photo">
    <div class="form-container">
        <div class="image-holder"></div>
        <form action="#" method="POST" th:action="@{/add-course}"
              th:object="${course}">
            <h2 class="text-center"><strong>Create</strong> a course.</h2>
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" placeholder="Name" th:field="*{name}"/>
            </div>
            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control" placeholder="Description" th:field="*{description}"/>
            </div>
            <div class="form-group">
                <label>Start Date</label>
                <input type="date" class="form-control" placeholder="Start Date" th:field="*{startDate}"/>
            </div>
            <div class="form-group">
                <label>End Date</label>
                <input type="date" class="form-control" placeholder="End Date" th:field="*{endDate}"/>
            </div>
            <div class="form-group">
                <button class="btn btn-success btn-block" type="submit">Create Course</button>
            </div>
        </form>
    </div>
</div>

<div class="register-photo">
    <div class="form-container">
        <div class="image-holder"></div>
        <form action="#" method="POST" th:action="@{/assign-course}"
              th:object="${userCourse}">
            <h2 class="text-center"><strong>Assign</strong> teacher to a course.</h2>
            <div class="form-group">
                <label>Select Teacher</label>
                <select th:field="*{userId}" class="form-control">
                    <option th:each="teacher : ${teachersList}"
                            th:value="${teacher.id}"
                            th:utext="${teacher.name}"/>
                </select>
            </div>
            <div class="form-group">
                <label>Select Course</label>
                <select th:field="*{courseId}" class="form-control">
                    <option th:each="course : ${coursesList}"
                            th:value="${course.id}"
                            th:utext="${course.name}"/>
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-success btn-block" type="submit">Assign Course</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
